@charset="UTF-8";

body{
    background-image: url(img/bg-body.jpg); 
    margin-left: 37.8px; 
    margin-top: 0px; 
    margin-bottom: 0px; 
}

#white{
    background-color: white; 
    width:1259px;
}

#header{
    border-collapse: separate;
   /* background-color: #fcf9f4; /*Цвет фона*/
    width: 1259px; 
    height:109px; 
    margin-left: 69.8px; 
    vertical-align: text-bottom;
}

#top_table {
    margin: 0;
    width: 1117px;
}

.h {
    margin: 0;
    color:#d79c5a; 
    cursor:pointer;
    text-decoration: none;
 }

.h:hover {
    color:#333333; 
    text-decoration: none;
}

#navi{ /*padding: 5px;*/ 
    margin-left: 74px; 
    border-left: 0.5px double #ffffff; 
    border-right: 0.5px solid #0a090a;
}

.t{
    text-align:center;
    width:1117px;
    height:92px;
}

.menu {
    width:1430px;
    height:92px;
}



#account {
    font-family: Helvetica, sans-serif; 
    text-align: right; 
    vertical-align: bottom; 
    margin-left: 100px;
}

.menu td {
    font: 24px sans-serif; 
    color: white; background-image: url(img/bg-menu.jpg);
}

.menu td:hover {
    background-image: url(img/bg_menu_active.jpg); 

}

.menu a{color: white; text-decoration: none;}
.tab{
    background-color: white; 
    vertical-align: middle;
}

.bold{
    font-weight: bold;
}
.centraln{
    width: 1117px;
    padding-left: 72px;
    padding-top: 20px;
}

.centered_image {
/*  margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    */
    margin-left: auto;
    margin-right: auto
}

.font {
    border-spacing: 11px;
    font-size: 24px;
    font-family: Helvetica bold sans-serif; 
    color: #e1ad58;
    padding: 50px;
    text-align: center;
}

#otst{
    margin-top: 20px; 
    text-align: left;
}

.font1{
    font-size: 15px; 
    color: black;
   }

.more {
    background-image: url(img/button1.jpg);  
    background-position: center; 
    background-repeat: no-repeat; 
    height: 47px;
}

.more:hover{
    background-image: url(img/button2.jpg); 
    background-repeat: no-repeat; 
    text-align: center;
}

#line{ 
    border-top: 1px dashed #000; /* Параметры линии */
    width: 1163px; 
    height: 18px;  /* Высота блока */
    background-color:#fff9f9; 
    margin-left: 69.8px;
 }

#line1{ width: 1163px; height: 4px;  background-image: url(img/divider.png);
    background-repeat: repeat-x; }

#font3{
    font-size: 24px;
    font-family: Arial bold sans-serif; 
    color: #642503;
    padding: 0px; 
}

#num{
    background-image: url(img/circle.jpg); 
    background-position: center; 
    font-size: 42px; 
    font-family: Helvetica bold sans-serif;
    color:  #fcf9f4; 
    position: absolute;
}

#num1{
    background-image: url(img/circle.jpg); 
    background-position: center; 
    font-size: 42px; 
    font-family: Helvetica bold sans-serif;
    color:  #fcf9f4; 
    position: absolute;
   }

#font4{  
    font-size: 21px; 
    font-family: Helvetica bold sans-serif; 
    color: #e1ad58; 
}

#font5{ 
    font-size: 18px; 
    font-family: Arial bold sans-serif; 
    color: #642503; 
}

#more1 {
    background-image: url(img/button1.jpg);
    background-position: left; 
    background-repeat: no-repeat;
    height: 47px;
}

#more1:hover{
    background-image: url(img/button2.jpg); 
    background-repeat: no-repeat; 
}

#las {background-image: url(img/footer-after.jpg);  width: 1260px; height:153px;
     
 
   }

#sh {font-size: 21px;  font-family: Arial bold;  sans-serif; color: white; }
#sh1 {font-size: 18px;  font-family: Arial bold;  sans-serif; color: white; }

#m{opacity: 1}
#m:hover{opacity: .25}

.logo {
    padding-top: 24px;
}

.center_image_div {
    position: relative;
}
#tabl{
    border-spacing: 11px;
    padding-left: 72px;
    padding-top: 15px;
    table-layout: fixed;
    text-align: left;
    vertical-align: top;
    width: 1117px;
}
#tabl td{width: 372px;}